<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia pojazdów</title>
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/main">Strona Główna</a>
    <a href="/contact">Kontakt</a>
    <a href="/addVehicle" th:if="${role?.name == 'ADMIN'}">Dodaj pojazd</a>
    <a href="/reservations" th:if="${role?.name == 'USER'}">Twoje rezerwacje</a>
    <a href="/login" th:if="${logged == false}">Login</a>
    <a href="/logout" th:if="${logged == true}">Wyloguj</a>
    <a th:if="${logged == true}" th:text="'Zalogowany: ' + ${user}"></a>
</div>

<img src="/logo.png" alt="Logo" id="logo" th:fragment="logo">
</body>
</html>