<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia pojazdów</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="bootstrap.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #737373">
<div th:replace="menu.html :: main-menu"></div>

<div id="content">
    <div class="alert alert-warning" role="alert" th:if="${info != null}" th:text="${info}">
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <th:block th:each="vehicle : ${vehicles}">
        <div class="col">
        <div class="card">
            <img th:if="${vehicle.class.name == 'pl.klusek.michal.model.Car'}"
                 src="/car.jpg" class="card-img-top">
            <img th:if="${vehicle.class.name == 'pl.klusek.michal.model.Motorcycle'}"
                 src="/motorcycle.png" class="card-img-top">
            <img th:if="${vehicle.class.name == 'pl.klusek.michal.model.Bike'}"
                 src="/bicycle.png" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title" th:text="${vehicle.brand}"></h3>
                <h3 class="card-title" th:text="${vehicle.model}"></h3>
                <h5 class="card-title" th:text="'Cena: ' + ${vehicle.price}"></h5>
                <h5 class="card-title" th:text="'Rok produkcji: ' + ${vehicle.yearOfProduction}"></h5>
                <h5 class="card-title" th:if="${role?.name() == 'ADMIN'}" name="licensePlate" th:text="'Nr rejestracyjny: ' + ${vehicle.licensePlate}"></h5>
                <h5 class="card-title" th:if="${vehicle.class.name == 'pl.klusek.michal.model.Car'}" th:text="'Typ paliwa: ' + ${vehicle.fuelType}"></h5>
                <h5 class="card-title" th:if="${vehicle.class.name == 'pl.klusek.michal.model.Car'}" th:text="'Typ skrzyni biegów: ' + ${vehicle.transmission}"></h5>
                <h5 class="card-title" th:if="${vehicle.class.name == 'pl.klusek.michal.model.Car'}" th:text="'Klimatyzacja: ' + ${vehicle.airConditioning}"></h5>
                <h5 class="card-title" th:if="${vehicle.class.name == 'pl.klusek.michal.model.Motorcycle'}" th:text="'Typ: ' + ${vehicle.type}"></h5>
                <h5 class="card-title" th:if="${vehicle.class.name == 'pl.klusek.michal.model.Motorcycle'}" th:text="'Typ skrzynki biegów: ' + ${vehicle.transmission}"></h5>
                <h5 class="card-title" th:if="${vehicle.class.name == 'pl.klusek.michal.model.Bike'}" th:text="'Typ: ' + ${vehicle.type}"></h5>
                <h5 class="card-title" th:if="${vehicle.rent} == true" id="rent-true">Pojazd niedostępny!</h5>
                <h5 class="card-title" th:if="${vehicle.rent} == false" id="rent-false">Pojazd dostępny!</h5>
                <form method="post" action="/rent_date" th:if="${vehicle.rent == false and role?.name() == 'USER'}">
                    <label for="startDate">Od:</label>
                    <input type="date" id="startDate" class="form-control" name="dateString1">
                    <label for="startDate">Do:</label>
                    <input type="date" id="startDate2" class="form-control" name="dateString2">
                    <input type="hidden" name="licensePlate" th:value="${vehicle.licensePlate}">
                    <button type="submit" class="btn btn-primary">Rezerwuj</button>
                </form>
                <a th:if="${role?.name() == 'ADMIN'}" th:href="@{/editVehicle/{licensePlate}(licensePlate=${vehicle.licensePlate})}" class="btn btn-primary">edytuj</a>
                <a th:if="${role?.name() == 'ADMIN'}" th:href="@{/deleteVehicle/{licensePlate}(licensePlate=${vehicle.licensePlate})}" class="btn btn-primary">usuń</a>
            </div>
        </div>
        </div>
    </th:block>
    </div>
</div>
</body>
</html>