<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia pojazdów</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="login.css">
    <script src="login.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="bootstrap.bundle.min.js"></script>
    <script src="bootstrap.js"></script>
</head>
<body style="background-color: #737373">
<div th:replace="menu.html :: main-menu"></div>
<div id="content">
    <form method="post" class="row row-cols-1 row-cols-md-2 g-4" onsubmit="return validate()">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="name" th:field="*{user.name}"/>
                    <label class="form-label" for="form3Example1">Imię</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" name="surname" th:field="*{user.surname}"/>
                    <label class="form-label" for="form3Example2">Nazwisko</label>
                </div>
            </div>

        <!-- Login input -->
        <div class="col">
            <input type="text" id="form3Example3" class="form-control" name="login" th:field="*{user.login}"/>
            <label class="form-label" for="form3Example3">Login</label>
        </div>

        <!-- Password input -->
        <div class="col">
            <input type="password" id="form3Example4" class="form-control" name="password" th:field="*{user.password}"/>
            <label class="form-label" for="form3Example4">Hasło</label>
        </div>

        <!-- Submit button -->
        <div class="col">
        <button type="submit" class="btn btn-primary btn-block mb-4">Zarejestruj</button>
        </div>
    </form>
</div>
</body>
</html>