<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia pojazdów</title>
    <link rel="stylesheet" href="reservations.css">
    <link rel="stylesheet" href="/common.css"/>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="bootstrap.bundle.min.js"></script>
    <script src="bootstrap.js"></script>
</head>
<body style="background-color: #737373">
<div th:replace="menu.html :: main-menu"></div>
<div id="content">
    <th:block th:each="reservation : ${reservations}">
        <div class="card text-center">
            <div class="card-header" th:text="'NR Rezerwacji: ' + ${reservation.id}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${reservation.vehicle.brand} + ' ' + ${reservation.vehicle.model}"></h5>
                <p class="card-text" th:text="'Rok produkcji: ' + ${reservation.vehicle.yearOfProduction}"></p>
                <p class="card-text" th:text="'Numer rejestracyjny pojazdu: ' + ${reservation.vehicle.licensePlate}"></p>
                <strong><p class="card-text" th:text="'Suma rezerwacji: ' + ${reservation.price} + ' zł'"></p></strong>
                <a th:href="@{/reservations/cancel/{reservationId}(reservationId=${reservation.id})}" class="btn btn-primary">Anuluj rezerwację</a>
            </div>
            <div class="card-footer text-muted" th:text="'Rezerwacja od: ' + ${reservation.dateFrom} + ' do: ' + ${reservation.dateTo}">
            </div>
        </div>
    </th:block>
</div>
</div>
</th:block>
</div>
</body>
</html>